@import "scss/colors";
@import "scss/util";
@import "scss/theme";
@import "scss/app";

.side-navbar {
    $this: &;
    @extend %side-navbar;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0.75rem 0;

    &--button {
        @include transitions(
            "padding-top, padding-bottom, opacity,
        border-top-left-radius, border-bottom-left-radius, margin-top,
        margin-bottom"
        );
        position: relative;
        background-color: transparent;

        padding-top: 0.6rem;
        padding-bottom: 0;
        opacity: 0.35;
        margin-top: 0;
        margin-bottom: 0;

        p {
            line-height: 1.2;
            margin-bottom: 0;
            text-align: center;
            font-size: 0.9rem;
            opacity: 1;
            overflow: hidden;
            height: auto;

            @include transitions("opacity, height");
        }

        &:not(.active) {
            p {
                opacity: 0;
                height: 0;
            }
        }

        &.active {
            @extend %app-content;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            margin-top: $side-navbar-tab-border-radius;
            margin-bottom: $side-navbar-tab-border-radius;
            opacity: 1;
            padding-top: 2rem;
            padding-bottom: 2.2rem;
            z-index: 1;

            &:hover {
                @include light-bg($side-navbar-tab-active-hover-light-bg);
                @include dark-bg($side-navbar-tab-active-hover-dark-bg);
                @include light-fg($side-navbar-tab-active-hover-light-fg);
                @include dark-fg($side-navbar-tab-active-hover-dark-fg);

                #{$this}--top-corner,
                #{$this}--bottom-corner {
                    &:before {
                        @include light-fg(
                            $side-navbar-tab-active-hover-light-bg
                        );
                        @include dark-fg(
                            $side-navbar-tab-active-hover-dark-bg
                        );
                    }
                }

                svg {
                    opacity: 0.8;
                }
            }

            #{$this}--top-corner,
            #{$this}--bottom-corner {
                &:before {
                    @include light-fg($app-content-light-bg);
                    @include dark-fg($app-content-dark-bg);
                }
            }
        }

        #{$this}--top-corner {
            top: -#{2 * $side-navbar-tab-border-radius};
            &:before {
                border-bottom-right-radius: #{2 * $side-navbar-tab-border-radius};
            }
        }

        #{$this}--bottom-corner {
            bottom: -#{2 * $side-navbar-tab-border-radius};
            &:before {
                border-top-right-radius: #{2 * $side-navbar-tab-border-radius};
            }
        }

        #{$this}--top-corner,
        #{$this}--bottom-corner {
            position: absolute;
            width: #{2 * $side-navbar-tab-border-radius};
            height: #{2 * $side-navbar-tab-border-radius};
            content: " ";
            right: 0;
            overflow: hidden;

            &:before {
                color: transparent;
                position: absolute;
                box-shadow: 0 0 0 300px;
                content: "";
                padding: $border-radius;
                margin-left: -$border-radius;
            }
        }

        &:hover,
        &:focus {
            &:not(.active) {
                opacity: 0.9;
            }
        }

        &:hover {
            @include light-bg($side-navbar-tab-hover-light-bg);
            @include dark-bg($side-navbar-tab-hover-dark-bg);
        }

        @extend %button-blank;
    }

    &--icon {
        $size: 48px;
        width: $size;
        height: $size;
        margin: {
            bottom: 0.75rem;
            left: auto;
            right: auto;
        }
    }

    svg {
        .str {
            stroke-width: 0.75;
            stroke-miterlimit: 10;
            fill: none;
            @include light(stroke, $side-navbar-tab-svg-light-fg);
            @include dark(stroke, $side-navbar-tab-svg-dark-fg);
        }
        .fil {
            @include light(fill, $side-navbar-tab-svg-light-fg);
            @include dark(fill, $side-navbar-tab-svg-dark-fg);
        }
        .op4 {
            opacity: 0.4;
        }
        .op6 {
            opacity: 0.6;
        }
        .op7 {
            opacity: 0.7;
        }
        .str_rou {
            stroke-linecap: round;
        }
    }
}
