@import "scss/colors";
@import "scss/theme";
@import "scss/media";

@mixin notification-variant($color, $icon) {
    background-color: $color;
    background-image: $icon;

    &.notification-toast {
        &:hover {
            background-color: lighten($color, 5%);
        }
    }
}

.notification {
    @extend %button-blank;
    @include transitions(
        "transform, opacity, background-color, max-height, \
        margin-bottom, padding-top, padding-bottom, box-shadow"
    );

    position: relative;

    display: block;
    margin-bottom: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    box-shadow: $drop-shadow-0;
    color: $-light;
    background-color: rgba($dark-000, 0.65);
    background-size: 60px 60px;
    background-position: left -12px bottom -12px;
    background-repeat: no-repeat;

    &:last-child {
        margin-bottom: 0;
    }

    .notification-content {
        margin-bottom: 0;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        border-radius: 4px;
    }

    .close {
        @extend %close-dark;

        position: absolute;
        right: 10px;
    }

    &.notification-alert {
        padding-left: 0.75rem;
        padding-right: 2.75rem;
        border-radius: 6px;

        .close {
            top: 6px;
            pointer-events: all;
        }
    }

    &.notification-toast {
        display: inline-block;
        padding-left: 0.75rem;
        padding-right: 2.5rem;

        cursor: pointer;
        user-select: none;
        border-radius: 4px;

        .close {
            top: 50%;
            transform: translateY(calc(-50% - 2px));
            pointer-events: none;
        }

        @include respond-below(md) {
            padding: 0.5rem 0.75rem;

            .close {
                display: none;
            }
        }

        &:hover {
            transform: translateY(-1px);
            box-shadow: $drop-shadow-1;
        }
    }

    // Notification variants

    &.info {
        // assets/info.svg
        @include notification-variant(
            $dark-400,
            url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cpath style='fill: white; opacity: 0.1' d='M14.1,0.2C7.6-1,1.4,3.3,0.2,9.9s3.2,12.8,9.7,13.9c6.5,1.2,12.8-3.2,13.9-9.7C25,7.6,20.7,1.4,14.1,0.2z M8.5,16.5 c1.1-2.1,2.9-4.5,3.2-5.1c0.5-0.9,0-1.4-2.2-0.1l-0.3-0.9c2.6-1.9,7.1-1.7,4.9,1.7c-1.3,2.1-2.3,3.5-2.9,4.6 c-0.9,1.6,0.7,1.2,2.3,0.1c0.1,0.3,0.2,0.5,0.3,0.8C10.3,20,6.8,19.7,8.5,16.5z M16.1,7.5c-0.8,0.4-1.7,0.3-2.2-0.4 c-0.4-0.7-0.2-1.6,0.6-2c0.8-0.4,1.7-0.2,2.2,0.4C17.2,6.2,16.9,7.1,16.1,7.5z'/%3E%3C/svg%3E%0A")
        );
    }

    &.success {
        // assets/success.svg
        @include notification-variant(
            darken($-success, 20%),
            url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 22' style='enable-background:new 0 0 24 22;' xml:space='preserve'%3E%3Cpath style='fill: white; opacity: 0.2' d='M21.9,9.3C21.9,9.9,22,10.4,22,11c0,6.1-4.9,11-11,11S0,17.1,0,11S4.9,0,11,0c2.3,0,4.5,0.7,6.3,2l-1.4,1.5 C14.5,2.5,12.8,2,11,2c-5,0-9,4-9,9s4,9,9,9c4.9,0,8.9-3.9,9-8.8C20,11.2,21.9,9.3,21.9,9.3z M20.9,1.2l-9.4,9.6L7.7,7.2l-3.1,3.1 l6.9,6.7L24,4.3C24,4.3,20.9,1.2,20.9,1.2z'/%3E%3C/svg%3E%0A")
        );
    }

    &.warning {
        // assets/warning.svg
        @include notification-variant(
            darken($-warning, 20%),
            url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 23.1 21.5' style='enable-background:new 0 0 23.1 21.5;' xml:space='preserve'%3E%3Cpath style='fill: white; opacity: 0.2' d='M11.1,0.2L0.1,20.5c-0.2,0.4,0.1,0.9,0.6,0.9h21.7c0.5,0,0.9-0.6,0.6-1.1L12,0.2C11.8-0.1,11.3-0.1,11.1,0.2z M10.5,6.7h2.2 v7.7h-2.2V6.7z M11.6,19.1c-0.8,0-1.4-0.6-1.4-1.4s0.6-1.4,1.4-1.4c0.8,0,1.4,0.6,1.4,1.4S12.3,19.1,11.6,19.1z'/%3E%3C/svg%3E%0A")
        );
    }

    &.danger {
        // assets/danger.svg
        @include notification-variant(
            darken($-danger, 20%),
            url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cpath style='fill: white; opacity: 0.2' d='M17,0H7L0,7V17l7,7H17l7-7V7C24,7,17,0,17,0z M16.5,18.2L12,13.8l-4.4,4.5l-1.8-1.8l4.4-4.5L5.8,7.7l1.8-1.8l4.5,4.3 l4.4-4.5l1.8,1.8L13.8,12l4.5,4.4L16.5,18.2z'/%3E%3C/svg%3E%0A")
        );
    }
}
