{
  "extends": [
    "react-app",
    "prettier",
    "prettier/react",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react",
    "prettier",
    "react-hooks",
    "@typescript-eslint/eslint-plugin",
    "eslint-plugin-tsdoc"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "modules": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "endOfLine": "auto"
      }
    ],
    "tsdoc/syntax": "error",
    "react/prop-types": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
