# Reroute all App URLs under the dynamic path pattern to the React app
[[redirects]]
  from = "/app/*"
  to = "/app.html"
  status = 200

# Redirect domain aliases to primary domain
[[redirects]]
  from = "https://aut-bot.com/*"
  to = "https://archit.us/:splat"
  status = 301
  force = true
[[redirects]]
  from = "https://www.aut-bot.com/*"
  to = "https://archit.us/:splat"
  status = 301
  force = true

# Redirect default Netlify subdomain to primary domain
[[redirects]]
  from = "https://architus.netlify.com/*"
  to = "https://archit.us/:splat"
  status = 301
  force = true

[context.production]
  environment = { PRODUCTION_URL = "https://archit.us" }

[build]
  environment = { NODE_ENV = "production" }
