@import "../../../scss/colors";

.message-clump {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $discord-message-border;
    padding-bottom: 1rem;
    padding-top: 0.8rem;
    // margin-top: 0.75rem;

    & > div:first-child {
        flex-grow: 0;
    }

    & > div:not(:first-child) {
        margin-left: 1.1rem;
        flex-grow: 1;
        margin-right: 1rem;
    }

    .message-header {
        margin-top: -0.25rem;
        margin-bottom: 0.125rem;

        .username {
            font-weight: 600;
            margin-right: 0.6rem;
            font-size: 1.05rem !important;
        }

        .timestamp:not(.placeholder) {
            opacity: 0.4;
            font-size: 0.8rem !important;
        }

        .timestamp.placeholder, .username.placeholder {
            margin-top: 0.35rem;
            margin-bottom: 0.35rem;
        }

        .badge-bot {
            background-color: $discord;
            color: white;
            text-transform: uppercase;
            margin-left: 0.5rem;
            border-radius: 4px;
            font-weight: 400;
            font-size: 65%;
            padding: 0.25em 0.3em;
            vertical-align: middle;
            position: relative;
            top: -2px;
        }
    }

    &.clump-last {
        border-bottom: none;
    }
}
