.switch {
    .react-switch {
        vertical-align: -6px;
    }

    .label {
        margin-left: 0.75rem;
    }

    .switch-icon {
        position: relative;
        top: 2px;
        left: 6px;
        color: white;
    }
}
