.switch {
    .react-switch {
        vertical-align: -8px;
        margin-right: 0.6rem;
        margin-left: 0.55rem;
    }

    .label {
        margin-right: 1.1rem;
    }

    .switch-icon {
        position: relative;
        top: 2px;
        left: 6px;
        color: white;
    }
}
