@import "scss/colors";
@import "scss/theme";

.logs {
    height: 100%;
    flex-direction: column;
    display: flex;
    white-space: unset;

    h2 {
        font-size: 1.9rem;
        font-weight: 300;
    }

    p {
        @include dark-fade-fg;
        @include light-fade-fg;
        @include theme-transitions("color");
    }

    .ReactTable {
        height: 100%;

        .rt-table {
            .rt-thead {
                box-shadow: none;
            }

            .rt-th {
                padding: 0.5rem;
            }

            .rt-tbody {
                @extend %custom-scrollbar;
            }
        }
    }
}
