@import "../../scss/colors.scss";
@import "../../scss/theme.scss";
@import "../../scss/util.scss";

%center {
    margin-left: auto;
    margin-right: auto;
}

.begin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
    position: relative;
    padding: 1rem;

    &--hero-img {
        max-width: 640px;
        height: auto;
        @extend %center;
        margin-bottom: 2rem;

        svg {
            .str {
                stroke: #000000;
                stroke-width: 0.25;
                stroke-miterlimit: 10;
            }
            .cloud {
                opacity: 0.2;
                @include light {
                    opacity: 0.1;
                }
            }
            .fg {
                fill: #afafaf;
                @include dark {
                    fill: color-adjust($-dark, 30%);
                }
            }
            .strong-fg {
                fill: #4b4b4b;
                @include dark {
                    fill: color-adjust($-dark, 50%);
                }
            }
            .strongest {
                fill: #999999;
                @include dark {
                    fill: color-adjust($-dark, -5%);
                }
            }
            .stronger {
                fill: #c4c4c4;
                @include dark {
                    fill: color-adjust($-dark, 5%);
                }
            }
            .strong {
                fill: #efefef;
                @include dark {
                    fill: color-adjust($-dark, 15%);
                }
            }
            .bg {
                fill: #ffffff;
                @include dark {
                    fill: color-adjust($-dark, 25%);
                }
            }
        }
    }

    & > div {
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        text-align: center;
        width: 100%;

        h2 {
            font-size: 2.5rem;
            font-weight: 300;
        }

        p {
            @extend %center;
            margin-bottom: 2.25rem;
            max-width: 600px;

            @include dark-fg(rgba($-light, 0.6));
            @include light-fg(rgba($-dark, 0.6));
        }

        button {
            background-color: $-primary;
            transition: 0.25s $ease background-color;
            outline: none;
            border: none;
            border-radius: 1000px;
            color: white;
            padding: 1rem 1.5rem;
            position: relative;
            white-space: normal;
            line-height: 1.1;
            @extend %center;
            $base-drop-shadow: 0 6px 16px rgba($-primary, 0.5);
            box-shadow: $base-drop-shadow;

            &:hover {
                background-color: color-adjust($-primary, 10%);
                transform: translateY(1px);
            }

            &:focus {
                box-shadow: highlight-shadow-value($-primary, 0.2), $base-drop-shadow;
            }
        }
    }
}
