@import "scss/colors";
@import "scss/theme";
@import "scss/media";

.add-guild-modal {
    .modal-content {
        .modal-header {
            h4 {
                font-weight: 400 !important;
                line-height: 1.1;
                border-bottom: 1rem;
                strong {
                    font-weight: 500 !important;
                }
            }

            p {
                font-size: 1rem;
                font-weight: 400;
                @include light-fade-fg;
                @include dark-fade-fg;

                @include respond-below(md) {
                    font-size: 0.9rem;
                    line-height: 1.2;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .modal-header,
        .modal-footer {
            border: none !important;
        }

        .modal-body {
            @include light-bg($-light, -5%);
            @include dark-bg($-dark, 2.5%);
            box-shadow: inset 0 7px 16px -7px rgba(0, 0, 0, 0.15),
                inset 0 -7px 16px -7px rgba(0, 0, 0, 0.15);
            max-height: 800px;
        }
    }
}
