@import "scss/colors";

.add-guild-modal {
    .modal-content {
        $modal-border-radius: 0.6rem;

        border-radius: $modal-border-radius;
        box-shadow: none;

        @extend %light-bg;
        @extend %dark-bg;
        @extend %light-fg;
        @extend %dark-fg;

        & > div {
            padding: 2rem;
        }

        .modal-header {
            border: none !important;
            border-top-right-radius: $modal-border-radius;
            border-top-left-radius: $modal-border-radius;

            .h4 {
                font-weight: 400 !important;
                strong {
                    font-weight: 500 !important;
                }
            }
        }

        .guild-card-list {

        }

        .modal-footer {
            border: none !important;
            border-bottom-right-radius: $modal-border-radius;
            border-bottom-left-radius: $modal-border-radius;
        }

        .close {
            @include dark {
                color: white;
                text-shadow: 0 1px 0 black;
            }
        }
    }
}
