@import "scss/colors";
@import "scss/theme";
@import "scss/util";
@import "scss/media";
@import "scss/fonts";
@import "scss/app";

.data-grid-outer, .data-grid {
    height: 100%;
}

.table-outer {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include light-fg;
    @include dark-fade-fg;

    .rdg-root {
        flex-grow: 1;
        @extend %base-bg;
        outline: none;

        .drag-handle {
            display: none !important;
        }
    }
}



$border-color-light: rgba($-dark, 0.15);
$border-color-dark: rgba($-light, 0.15);
%header-cell-fill {
    @include light-bg($data-grid-header-light-bg);
    @include dark-bg($data-grid-header-dark-bg);
}

%base-bg {
    background-color: transparent !important;
}

%cell-base {
    @extend %base-bg;
    @include light(border-color, $border-color-light);
    @include dark(border-color, $border-color-dark);
}

input.form-control.editor-main {
    border: none;
    @include dark {
        background-color: $dark-200 !important;
        color: $-light !important;
    }
}

.data-grid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .loading {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 400px;

        .spinner-border {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

.table-outer {
    height: 0;
    flex-grow: 1;
    @include light-fg;
    @include dark-fade-fg;

    // React grid meme to make full height
    .react-grid-Main {
        flex-grow: 1;
        @extend %base-bg;
        outline: none;

        .drag-handle {
            display: none !important;
        }

        .rdg-selected {
            border: none !important;
        }

        .react-grid-cell-copied {
            background-color: transparent !important;
        }
    }

    .react-grid-Container {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .react-grid-Toolbar {
        flex-grow: 0;
        z-index: 2;
        background-color: transparent;
        border: none;
        padding: {
            top: 0.5rem;
            bottom: 0.5rem;
            left: 0;
            right: 0;
        }
        height: auto;

        @include respond-below(sm) {
            .tools {
                float: none;
                line-height: 1.5;
            }
        }

        @include respond-below(xs) {
            .tools {
                display: flex;
                flex-direction: column;

                .controls {
                    margin-bottom: 1rem;
                }
            }
        }

        @include respond-above(sm) {
            position: absolute;
            top: -50px;
            right: 0;
        }

        .tools {
            .controls {
                margin-right: 0.5rem;
                position: relative;
                top: -5px;
            }
        }

        button {
            display: inline-block;
            font-weight: normal;
            color: $-light;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 8px;
            transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            position: relative;
            top: -8px;
            outline: none;
        }
    }

    .react-grid-Grid {
        min-height: 100% !important;
        @extend %base-bg;
        border: none;
        overflow: unset !important;
    }

    .react-grid-Canvas {
        height: 100% !important;
        @extend %custom-scrollbar-alt;
        height: 982px;
        z-index: 2;
        background-color: transparent;
    }

    .react-grid-Viewport {
        @extend %base-bg;
        overflow: unset !important;
        position: relative;

        &:after {
            position: absolute;
            z-index: 3;
            top: 0;
            bottom: 0;
            left: 0;
            right: 16px;
            content: " ";
            box-shadow: inset 0 14px 6px -7px rgba(black, 0.03),
                inset 0 -14px 6px -7px rgba(black, 0.05);
            overflow: hidden;
            pointer-events: none;
        }
    }

    .react-grid-Header {
        @extend %base-bg;
        box-shadow: none;
        @include light {
            border: top;
        }
    }

    .react-grid-HeaderRow {
        @extend %header-cell-fill;
        margin-top: -1px;
        min-height: 0 !important;
        overflow-y: hidden;

        &:first-child {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        &:last-child {
            @include light-border($border-color-light, $side: bottom);
            @include dark-border($border-color-dark, $side: bottom);
        }
    }

    .react-grid-HeaderCell {
        font-weight: 500;
        padding: 0;
        @extend %cell-base;
        border-right: none;
        border-bottom: none;

        & > div {
            height: 100%;

            .form-group {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: {
                    right: 10px;
                    left: 10px;
                    top: 4px;
                    bottom: 14px;
                }

                input {
                    border: none;
                }
            }

            .input-sm {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;

                .badge {
                    margin-right: 1rem;
                }
            }
        }

        &:first-child {
            & > div {
                .form-group {
                    padding-left: 0;
                }
                padding-left: 12px;
            }
        }

        &:last-child {
            & > div {
                .form-group {
                    padding-right: 12px;
                }
            }
        }

        .react-grid-HeaderCell-sortable {
            padding: {
                top: 10px;
                bottom: 6px;
                left: 10px;
                right: 8px;
            }
            position: relative;

            &::after {
                $height: 2px;
                position: absolute;
                z-index: 0;
                content: " ";
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                height: $height;
                background-color: $-primary;
                transform: translateY(-#{$height + 1px});
                @include transitions(transform);
            }

            &:hover {
                @include dark-bg($data-grid-header-hover-dark-bg);
                @include light-bg($data-grid-header-hover-light-bg);

                &::after {
                    transform: translateY(0);
                }
            }
        }

        .pull-right {
            margin-left: 4px;
            margin-right: 10px;
            opacity: 0.35;

            &:empty {
                margin-right: 0;
            }
        }

        &:last-child {
            border-right: none;
        }
    }

    .react-grid-Cell {
        @extend %cell-base;
        border-right: none;
        border-bottom: none;

        &:first-child {
            padding-left: 12px;
        }

        .rdg-cell-action {
            display: none;

            .rdg-cell-action-button {
                margin-left: 0.35rem;
                margin-right: 0.15rem;
                cursor: pointer;
                color: $-primary;

                &:hover {
                    color: color-adjust($-primary, -12.5%);
                }
            }
        }

        .author-display {
            display: flex;
            flex-direction: row;
            overflow: hidden;
            align-items: center;

            .avatar {
                margin-right: 0.5rem;
            }

            .name {
                font-weight: 500;
                opacity: 0.9;
            }

            .discriminator {
                margin-left: 0.1rem;
                font-size: 0.85em;
                opacity: 0.6;
            }
        }

        .trigger,
        .response {
            font-family: $font-family-monospace;
            font-size: 0.9em;
        }
    }

    .react-grid-Row {
        &:hover {
            @include light(background-color, rgba($-primary, 0.15));
            @include dark(background-color, rgba($-primary, 0.15));

            .rdg-cell-action {
                display: block;
            }
        }
        border-radius: 8px;
    }

    .row-even {
        @include light(background-color, rgba(black, 0.03));
        @include dark(background-color, rgba(black, 0.1));
        border-radius: 8px;
    }

    .react-grid-Empty {
        .empty-placeholder {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 400px;

            .spinner-border {
                width: 2.5rem;
                height: 2.5rem;
            }

            .empty-label {
                padding: 1rem 1.35rem;
                @include dark-bg($data-grid-placeholder-dark-bg);
                @include light-bg($data-grid-placeholder-light-bg);
                border-radius: 80rem;
            }
        }
    }

    input[type="text"] {
        @include dark {
            &:focus {
                @include highlight-shadow($-primary, 0.4);
            }
            background-color: color-adjust($-dark, 10%) !important;
        }
    }
}

.view-mode-toolbar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1rem;

    &--button {
        @extend %button-blank;
        padding: 0.65rem 0.4rem !important;

        @include light {
            color: $-dark !important;
        }

        &:not(.active) {
            opacity: 0.5;
        }

        &.active {
            @include light {
                background-color: rgba($-dark, 0.1)
            }

            @include dark {
                background-color: rgba($-light, 0.1)
            }
        }
    }
}
