@import "scss/colors";
@import "scss/theme";
@import "scss/util";
@import "scss/media";

$border-color-light: rgba($-dark, 0.15);
$border-color-dark: rgba($-light, 0.15);
%header-cell-fill {
    @include light-bg($adjust: -6%);
    @include dark-bg($-dark, 3%);
}
%input-bg {
    @include light-bg(white);
    @include dark-bg($-dark, 8%);
}
%cell-base {
    background-color: transparent !important;
    @include light(border-color, $border-color-light);
    @include dark(border-color, $border-color-dark);
}

%base-bg {
    @include light-bg;
    @include dark-bg;
}

.table-outer {
    height: 0;
    flex-grow: 1;
    @include light-fg;
    @include dark-fade-fg;

    @include respond-below(lg) {
        padding-top: 2.5rem;
    }

    // React grid meme to make full height
    .react-grid-Main {
        height: 100%;
        @extend %base-bg;
        outline: none;

        .drag-handle {
            display: none !important;
        }

        .rdg-selected {
            border: none !important;
        }

        .react-grid-cell-copied {
            background-color: transparent !important;
        }
    }

    .react-grid-Container {
        height: 100%;
        position: relative;
    }

    .react-grid-Toolbar {
        position: absolute;
        top: -40px;
        right: 0;
        z-index: 2;
        background-color: transparent;
        border: none;
        padding: 0;
        height: auto;

        button {
            background-color: $-primary;
            border-color: $-primary;
            color: $-light !important;

            &:hover,
            &:active {
                background-color: color-adjust($-primary, -10%);
            }
        }
    }

    .react-grid-Grid {
        min-height: 100% !important;
        @extend %base-bg;
        border: none;
        overflow: unset !important;
    }

    .react-grid-Canvas {
        height: 100% !important;
        @extend %custom-scrollbar-alt;
        width: auto !important;
        height: 982px;
        z-index: 2;
        background-color: transparent;
        position: relative;
        overflow-x: hidden;
    }

    .react-grid-Viewport {
        @extend %base-bg;
        overflow: unset !important;
    }

    .react-grid-Header {
        @extend %base-bg;
        box-shadow: none;
        @include light {
            border: top;
        }
    }

    .react-grid-HeaderRow {
        @extend %header-cell-fill;
        margin-top: -1px;
        min-height: 0 !important;

        &:first-child {
            @include light-border($border-color-light, $side: top);
            @include dark-border($border-color-dark, $side: top);
        }
    }

    .react-grid-HeaderCell {
        font-weight: 500;
        padding: 0;
        @extend %cell-base;

        & > div {
            height: 100%;

            .form-group {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: {
                    right: 10px;
                    left: 10px;
                    top: 8px;
                    bottom: 8px;
                }

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: {
                        top: 6px;
                        bottom: 6px;
                        right: 6px;
                        left: 10px;
                    }
                    border-radius: 8px;
                    transition: box-shadow 0.25s ease;
                    @extend %input-bg;
                    @include light-fg;
                    @include dark-fg;

                    &::placeholder {
                        @include light-fg(rgba($-dark, 0.4));
                        @include dark-fg(rgba($-light, 0.4));
                    }

                    &:focus {
                        @include highlight-shadow($-primary);
                    }
                }
            }
        }

        &:first-child {
            & > div {
                .form-group {
                    padding-left: 0;
                }
                padding-left: 12px;
            }
            @include light-border($border-color-light, $side: left);
            @include dark-border($border-color-dark, $side: left);
        }

        &:last-child {
            & > div {
                .form-group {
                    padding-right: 12px;
                }
            }
            @include light-border($border-color-light, $side: right);
            @include dark-border($border-color-dark, $side: right);
        }

        .react-grid-HeaderCell-sortable {
            padding: {
                top: 10px;
                bottom: 6px;
                left: 10px;
                right: 8px;
            }
            position: relative;

            &::after {
                $height: 2px;
                position: absolute;
                z-index: 0;
                content: " ";
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                height: $height;
                background-color: $-primary;
                transform: translateY(-#{$height + 1px});
                @include transitions(transform);
            }

            &:hover {
                @include light(background-color, rgba(black, 0.04));
                @include dark(background-color, rgba(white, 0.04));

                &::after {
                    transform: translateY(0);
                }
            }
        }

        .pull-right {
            margin-left: 4px;
            margin-right: 10px;
            opacity: 0.35;

            &:empty {
                margin-right: 0;
            }
        }

        &:last-child {
            border-right: none;
        }
    }

    .react-grid-Cell {
        @extend %cell-base;

        &:last-child {
            border-right: none;
        }

        .rdg-cell-action {
            display: none;

            .rdg-cell-action-button {
                margin-left: 0.35rem;
                margin-right: 0.15rem;
                cursor: pointer;
                color: $-primary;

                &:hover {
                    color: color-adjust($-primary, -12.5%);
                }
            }
        }

        .author-display {
            display: flex;
            flex-direction: row;
            overflow: hidden;
            align-items: center;

            .avatar {
                margin-right: 0.5rem;
            }

            .name {
                font-weight: 500;
                opacity: 0.9;
            }

            .discriminator {
                margin-left: 0.1rem;
                font-size: 0.85em;
                opacity: 0.6;
            }
        }
    }

    .react-grid-Row {
        &:hover {
            @include light(background-color, rgba($-primary, 0.1));
            @include dark(background-color, rgba($-primary, 0.1));

            .rdg-cell-action {
                display: block;
            }
        }
    }

    .row-even {
        @include light(background-color, rgba(black, 0.02));
        @include dark(background-color, rgba(white, 0.02));
    }

    .react-grid-Empty {
        .empty-placeholder {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 400px;

            .spinner-border {
                width: 2.5rem;
                height: 2.5rem;
            }

            .empty-label {
                padding: 1rem;
                @include light-bg(white);
                @include dark-bg($-dark, 2.5%);
            }
        }
    }
}
