@import "scss/colors";
@import "scss/media";
@import "scss/theme";

$card-spacing: 8px;

.settings-category {
    $this: &;

    &--title {
        color: rgba($-dark, 0.8);
        @include dark-fg(rgba($-light, 0.8));
        font-weight: 600;
        font-size: 1.4rem !important;
        margin-bottom: 0.5rem !important;
        letter-spacing: -0.025rem;
        padding: 0.5rem 0 !important;
    }

    &.expandable {
        @include respond-below(md) {
            #{$this}--title {
                padding: 0.75rem 0.95rem !important;
                cursor: pointer;
                @include light-bg($light-500);
                @include dark-bg($dark-400);
                box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.14) !important;
                @include transitions("box-shadow");

                &:hover {
                    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.22) !important;
                }
            }

            #{$this}--title-expander {
                display: inline-block !important;
            }

            &:not(.open) #{$this}--container {
                display: none !important;
            }
        }
    }

    &--title-expander {
        font-size: 1rem;
        margin-right: 0.75rem;
        vertical-align: 2px;
        display: none !important;

        svg {
            @include transitions("transform");
            transform: translateX(2px);
        }
    }

    &.open &--title-expander svg {
        transform: rotate(90deg) translateY(-2px);
    }

    &:not(:first-child) &--title {
        margin-top: 0.5rem;
    }

    &--container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
        margin-left: -$card-spacing;
        margin-right: -$card-spacing;

        .settings-card {
            padding-right: $card-spacing;
            padding-left: $card-spacing;
            margin-bottom: 2 * $card-spacing;
        }
    }
}
