@import "scss/media";
@import "scss/theme";

%uppercase-header {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.9;
}

%cube-background {
    &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 144 250' version='1.1' viewBox='0 0 144 250' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23222020;%7D%0A%3C/style%3E%3Cpath class='st0' d='m142 38l-65.7-38h-8.7l-65.6 38v-38h-2v127l68.1 39.4-68.1 39.4v44.2h2v-1.1-1.1-38.6l68-39.4v78.8l-2.4 1.4h8.7l-2.4-1.4v-78.8l68.1 39.4v39.6 1.2h2v-44.2l-68.1-39.4 68.1-39.4v-127h-2v38zm-140 85.6v-78.8l68 39.4v78.8l-68-39.4zm1.9-82.2l68.1-39.4 68.1 39.4-68.1 39.4-68.1-39.4zm138.1 82.2l-68 39.4v-78.8l68-39.4v78.8z'/%3E%3C/svg%3E%0A");
        background-repeat: repeat;
        background-size: 72px 125px;
        opacity: 0.05;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
}

.jumbotron {
    position: relative;
    @extend %cube-background;

    @include respond-above(lg) {
        padding: {
            top: 6rem !important;
            bottom: 6rem !important;
        }
    }
}

.head {
    position: relative;
    background-color: rgba($jumbotron-background, 0.6);

    h1 {
        font-weight: 300;
        font-size: 3rem;
    }

    @include respond-above(xs) {
        padding: 2rem 2rem;
        margin: -2rem;
    }

    @include respond-below(xs) {
        padding: 1rem 0;
    }

    em {
        font-style: normal;
        font-weight: 600;
    }

    @include respond-above(lg) {
        p {
            font-size: 1.2em;
            line-height: 1.4em;
            padding-right: 1rem;
        }
    }

    aside.card {
        @include respond-below(sm) {
            margin-top: 1rem;
        }

        @include respond-between(xs, md) {
            margin-top: 4rem;
        }

        p {
            font-size: 1em;
            line-height: 1.5em;
            padding-right: 0;
        }

        h2 {
            @extend %uppercase-header;
        }
    }
}

.features {
    padding: {
        top: 4rem;
        bottom: 4rem;
    }

    h2 {
        font-weight: 300;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 0.5rem;

        span {
            border-bottom: 2px dashed rgba($-primary, 0.8);
        }
    }

    .try {
        display: block;
        margin-top: 2rem;
        font-weight: 500;
    }

    section {
        padding: {
            top: 4rem;
            bottom: 1rem;
        }

        ul {
            margin-top: 1rem;
        }

        h4 {
            @extend %uppercase-header;
            font-size: 0.9rem;
            margin-bottom: 0.4rem;
            opacity: 0.65;
        }

        &.row > div {
            padding: {
                left: 2rem !important;
                right: 2rem !important;
            }
        }

        .feature-content {
            color: rgba($tundora, 0.75);
            margin-bottom: 2rem;

            & > *:last-child {
                margin-bottom: 0 !important;
            }
        }
    }

    strike {
        text-decoration-color: rgba($-dark, 0.3);
    }
}

.additional {
    padding: {
        top: 4rem;
        bottom: 4rem;
    }
    background-color: white;
    border-top: 1px solid rgba($-dark, 0.2);
    border-bottom: 1px solid rgba($-dark, 0.2);

    h2 {
        margin-bottom: 2.5rem;
    }

    .minor-feature {
        text-align: center;
        margin: 2rem 0;

        .minor-feature--inner {
            max-width: 80%;
            margin: 0 auto;

            @include respond-below(md) {
                max-width: none;
            }
        }

        .badge {
            font-weight: 400;
            padding: 0.4em 0.6em;
            border-radius: 4px;
            margin-left: 0.4rem;
            margin-top: 0.3em;
        }

        .minor-feature--icon {
            display: block;
            width: 80px;
            height: 80px;
            margin: 0 auto 1rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        h3 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 0.5rem;
        }

        p {
            color: rgba($tundora, 0.75);
        }
    }

    @include respond-above(lg) {
        padding-bottom: 12rem;
    }
}

%shift-lg {
    position: relative;
    @include respond-above(lg) {
        top: -8rem;
    }
}

.bottom-cta-outer {
    background-color: darken($-light, 2%);
    position: relative;
    padding: {
        top: 3rem;
        bottom: 4rem;
    }
    @extend %cube-background;

    @include respond-above(lg) {
        padding: 0;
    }

    .card {
        background-color: lighten($-light, 3%);
        padding: 3rem;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        @extend %shift-lg;

        h4 {
            font-size: 2.2em;
            font-weight: 300;

            em {
                font-weight: 400;
                font-style: normal;
            }
        }

        p {
            color: rgba($tundora, 0.75);
        }

        .cta {
            margin-top: 1rem;

            span {
                margin-left: 0;
                width: 0 !important;
                opacity: 0;
                transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            &:hover {
                span {
                    margin-left: 1rem;
                    width: 12.5px !important;
                    opacity: 1;
                }
            }
        }
    }

    hr {
        margin-top: 4rem;
        @extend %shift-lg;
        border-top-color: $-secondary;
        border-top-style: dashed;
        @include respond-above(lg) {
            margin-bottom: -2rem;
        }
    }
}
