@import "../../../scss/colors";

.message {
    .placeholder:last-child {
        margin-bottom: 0.5rem !important;
    }

    code {
        color: rgba($discord-fg, 0.9);
        font-size: 92.5%;
        background-color: $discord-embed-bg;
        word-break: break-word;
        display: inline-block;
        padding: {
            top: 0.1rem;
            bottom: 0.1rem;
            left: 0.2rem;
            right: 0.2rem
        }
        border-radius: 4px;

        &:first-child {
            margin-left: -0.2rem;
        }
    }

    .mention {
        color: $discord;
        background-color: rgba($discord, 0.15);
        padding: {
            bottom: 0.2rem;
        }
        cursor: pointer;

        &:hover {
            color: white;
            background-color: rgba($discord, 0.75);
        }
    }

    &.mentions-user {
        background-color: rgba($discord-mention, 0.1);
        position: relative;
        padding: 0.25rem 0.75rem;
        margin-left: -6px;

        &::after {
            position: absolute;
            top: 0;
            left: -2px;
            bottom: 0;
            content: " ";
            width: 2px;
            background: rgba(250,166,26,.2);
            border-left: 4px solid #faa61a;
            border-radius: 3px 0 0 3px;
        }

        .mention {
            color: $discord !important;
            background-color: transparent !important;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
