@import "scss/media";

$header-offset: 72px;
$screen-padding: 12px;
$layout-breakpoint: sm;

.notification-pane {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1000;
    pointer-events: none;

    .notification {
        pointer-events: all;
    }

    &--toast {
        position: absolute;

        height: 400px;
        max-width: 300px;
        padding: $screen-padding;

        @include respond-above($layout-breakpoint) {
            right: 0;
            top: $header-offset;

            .notification-list--transition-group {
                align-items: flex-end;
                justify-content: flex-start;
            }
        }

        @include respond-below($layout-breakpoint) {
            right: 0;
            bottom: 0;
            left: 0;

            max-width: none;

            .notification-list--transition-group {
                align-items: stretch;
                justify-content: flex-end;
            }
        }
    }

    &--alert {
        position: absolute;
        left: 0;
        right: 0;

        padding: $screen-padding 0;
        margin: 0 auto;
        height: 400px;
        max-width: 800px;

        .container {
            height: 100%;
        }

        .notification-list--transition-group {
            align-items: stretch;
        }

        @include respond-above($layout-breakpoint) {
            top: 68px;
        }

        @include respond-below($layout-breakpoint) {
            top: 64px;
        }
    }
}
