@import "./colors.scss";
@import "./util.scss";
@import "./app.scss";

$drop-shadow-0: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$drop-shadow-1: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$drop-shadow-2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

$drop-shadow: 0 4px 12px 0 rgba(black, 0.15);
$drop-shadow-slight: 0 2px 8px 0 rgba(black, 0.3);
$border-radius: 8px;
$border-radius-sm: 4px;
$jumbotron-background: darken($-light, 5%);
$window-padding: 1.25rem;
$window-padding-bottom: 0.5rem;
$window-border-radius: 8px;
$ease: cubic-bezier(0.25, 0.1, 0.25, 1);

@mixin scrollbar($color, $width) {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;

    &::-webkit-scrollbar {
        width: $width;
        height: $width;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba($color, 0.08);
    }
    &::-webkit-scrollbar-corner {
        background-color: rgba($color, 0.08);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($color, 0.15);
        border-radius: 1000px;

        &:hover {
            background-color: rgba($color, 0.3);
        }

        &:active {
            background-color: rgba($color, 0.5);
        }
    }
}

$scrollbar-width: 12px;
%custom-scrollbar {
    @include dark {
        @include scrollbar(blend($-light, black, 0.5), $scrollbar-width);
    }
    @include light {
        @include scrollbar($-dark, $scrollbar-width);
    }
}

// TODO convert to emotion
.rdg {
    @extend %custom-scrollbar;
}

@mixin discord-scrollbar($bg, $thumb, $track, $invert: false) {
    &::-webkit-scrollbar {
        width: 17px;
        height: 17px;
    }
    &::-webkit-scrollbar-thumb {
        background: $thumb;
        border-radius: 100rem;
        border: 4px solid $bg;
        margin: 4px;

        &:hover {
            @if $invert {
                background: lighten($thumb, 7.5%);
            } @else {
                background: darken($thumb, 7.5%);
            }
        }

        &:active {
            @if $invert {
                background: lighten($thumb, 15%);
            } @else {
                background: darken($thumb, 15%);
            }
        }
    }
    &::-webkit-scrollbar-track {
        background: linear-gradient(
            to right,
            $bg 0%,
            $bg 23%,
            $track 24%,
            $track 76%,
            $bg 77%,
            $bg 100%
        );
        border-radius: 100rem;
    }
    &::-webkit-scrollbar-corner {
        background-color: transparent;
        display: none;
    }
}

%custom-scrollbar-alt {
    @include dark {
        @include discord-scrollbar(
            $app-content-dark-bg,
            blend($-light, black, 0.65),
            color-adjust($app-content-dark-bg, -10%),
            true
        );
    }
    @include light {
        @include discord-scrollbar(
            $app-content-light-bg,
            blend($-dark, white, 0.65),
            color-adjust($app-content-light-bg, -4%)
        );
    }
}

%close-dark {
    color: white;
    text-shadow: 0 1px 0 black;
}

%input-base {
    outline: none;
    padding: {
        top: 6px;
        bottom: 6px;
        right: 6px;
        left: 10px;
    }
    border-radius: 8px;
    transition: box-shadow 0.25s ease;
    box-shadow: none;
    border: 1px solid #ced4da;

    @include dark {
        background-color: rgba($dark-000, 0.425);
        color: $-light;
        border-color: transparent;
    }

    @include light {
        background-color: white;
        color: $-dark;
    }

    &::placeholder {
        @include light-fg(rgba($-dark, 0.4));
        @include dark-fg(rgba($-light, 0.4));
    }

    &:focus {
        @include highlight-shadow($-primary);
    }

    &.form-control.is-invalid {
        border-color: $-danger;
    }
    &.form-control.is-valid {
        border-color: $-success;
    }
}
