// Notification transition classes

%notification-hidden {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

%notification-visible {
    opacity: 1;
    max-height: 120px;
    margin-bottom: 0.6rem;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.notification-enter {
    @extend %notification-hidden;
}

.notification-enter-active {
    @extend %notification-visible;
}

.notification-exit {
    @extend %notification-visible;

    transform: none;
    pointer-events: none;
}

.notification-exit-active {
    @extend %notification-hidden;

    transform: translateX(-64px);
    pointer-events: none;
}
