@import "../../../scss/colors.scss";
@import "../../../scss/media.scss";
@import "../../../scss/util.scss";

.session-dropdown {
    #session-dropdown-button {
        background-color: rgba($-dark, 0.1);
        border: none;
        box-shadow: none;
        color: $-light;

        &::after {
            vertical-align: 0.1em;
        }

        &:hover {
            background-color: rgba($-dark, 0.2);
        }

        &:active {
            background-color: rgba($-dark, 0.25);
        }

        &:focus {
            @include highlight-shadow($-dark);
        }
    }
}
