@import "scss/media";
@import "scss/colors";

.login-button {
    line-height: 1.2 !important;
    padding: {
        top: 0.6rem !important;
        bottom: 0.6rem !important;
    }

    a {
        color: $-light !important;

        span:first-child {
            margin-right: 0.6rem;
            font-size: 1.15em;
        }
    }
}
