@import "../../scss/media";

.login {
    line-height: 1.2 !important;
    padding: {
        top: 0.6rem !important;
        bottom: 0.6rem !important;
    }

    & > span:first-child {
        margin-right: 0.6rem;
        font-size: 1.15em;
        display: inline;
    }

    & > span:not(:first-child) {
        vertical-align: top;

        &:last-child {
            @include respond-between(xs, sm) {
                display: none;
            }
        }
    }
}
