@import "scss/util";
@import "scss/colors";
@import "scss/theme";

.app-root {
    height: 100vh;
    overflow: hidden;
    position: relative;

    .content-container {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        align-items: stretch;
        height: auto;
        position: relative;

        .guild-sidebar {
            flex-grow: 0;
            flex-shrink: 0;
            height: 100%;
            box-shadow: $drop-shadow;
            @extend %hide-scrollbar;
            @include dark-bg($-dark, -5%);
            @include light-bg($-light, -15%);
            @include dark-border(transparent, $border: 1px solid, $side: right);
            @include light-border($-light, -20%, 1px solid, right);
            @include theme-transitions("background-color, border-right-color");
        }

        .app-content {
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    @extend %dark-bg;
    @extend %light-bg;
    @extend %dark-fg;
    @extend %light-fg;
    @include theme-transitions("background-color, color");
}

.dark-mode-icon {
    position: relative;
    top: 2px;
    left: 6px;

    &.dark {
        color: $-light;
    }

    &.light {
        color: lighten($-dark, 5%);
        filter: drop-shadow(0px 1px 8px rgba(white, 1));
    }
}

html.html--app {
    overflow-y: hidden;
}
