@import "scss/util";
@import "scss/colors";
@import "scss/theme";

.app-root {
    height: 100vh;
    overflow: hidden;
    position: relative;

    .content-container {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        align-items: stretch;
        height: auto;
        position: relative;

        .guild-sidebar {
            flex-grow: 0;
            flex-shrink: 0;
            height: 100%;
            border-right: 2px solid lighten($-dark, 15%);
            box-shadow: $drop-shadow;
            @extend %hide-scrollbar;
            background-color: lighten($-dark, 5%);
        }

        .app-content {
            flex-grow: 1;
            flex-shrink: 1;
        }
    }
}

html.html--app {
    overflow-y: hidden;
}
