@import '../../scss/colors';
@import '../../scss/theme';
@import '../../scss/media';

.navbar {
    padding: {
        top: 0.75rem;
        bottom: 0.85rem;
    }
    box-shadow: $drop-shadow-slight;
    border-bottom: 1px solid darken($-primary, 10%);

    @include respond-above(sm) {
        height: 68px;
    }

    .navbar-brand {
        font-weight: 600;
        border: 2px $-light solid;
        margin: {
            right: 1.25rem;
        }
        padding: {
            top: 0;
            bottom: 3px;
            left: 10px;
            right: 10px;
        }
    }

    .nav-link {
        color: $-light;
        &:hover,
        &:active {
            opacity: 0.8;
        }
        &.active {
            font-weight: 600;
        }
    }
}
