@import "scss/util";
@import "scss/colors";
@import "scss/theme";
@import "components/GuildIcon/style";

$margin: 0.75rem;

%guild-list--base {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    & > * {
        margin-right: $margin;
    }

    &.vertical,
    .vertical > & {
        flex-direction: column;

        & > * {
            margin-right: 0;
            margin-bottom: $margin;
        }
    }
}

.guild-list {
    @extend %guild-list--base;
    padding: 1rem;

    &--section {
        @extend %guild-list--base;

        hr {
            width: 100%;
            @include light-border(
                rgba($-dark, 0.15),
                $border: 2px solid,
                $side: top
            );
            @include dark-border(
                rgba($-light, 0.10),
                $border: 2px solid,
                $side: top
            );
            margin: {
                top: 0.25rem !important;
                bottom: 0.25rem !important;
            }
        }
    }

    .guild-icon,
    .guild-text-icon {
        &:hover {
            &::after {
                height: 30%;
                transform: translateX(0);
            }
        }
        &::after {
            position: absolute;
            z-index: 10000;
            content: " ";
            top: 0;
            bottom: 0;
            left: -18px;
            margin: {
                top: auto;
                bottom: auto;
            }

            width: 6px;
            height: 0;
            opacity: 0.7;
            transform: translateX(-6px);

            border-right: 6px solid $discord;
            border-radius: 0 4px 4px 0;
            @include dark(border-right-color, white);
            @include light(border-right-color, $-dark);
            @include light {
                box-shadow: $drop-shadow;
            }
            @include transitions("height, transform, opacity");
        }
        &.guild-icon__active {
            &::after {
                height: 80%;
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    .guild-add-button {
        @extend %button-blank;
        @extend %symbol-icon-base;
    }
}
