@import "scss/util";
@import "scss/colors";
@import "scss/theme";
@import "components/GuildIcon/style";

$margin: 0.75rem;

.guild-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 1rem;

    & > * {
        margin-right: $margin;
    }

    &.vertical {
        flex-direction: column;

        & > * {
            margin-right: 0;
            margin-bottom: $margin;
        }
    }

    .guild-add-button {
        @extend %button-blank;
        @extend %symbol-icon-base;
    }
}
