@import "scss/colors";

.auto-responses {
    height: 100%;
    flex-direction: column;
    display: flex;

    h2 {
        font-size: 1.9rem;
        font-weight: 300;
    }

    p {
        @include dark-fade-fg;
        @include light-fade-fg;
    }
}
