@import "scss/colors";
@import "scss/theme";

.auto-responses {
    height: 100%;
    flex-direction: column;
    display: flex;

    h2 {
        font-size: 1.9rem;
        font-weight: 300;
    }

    p {
        @include dark-fade-fg;
        @include light-fade-fg;
    }

    .table-outer {
        height: 0;
        flex-grow: 1;
    }

    // React grid meme to make full height
    .react-grid-Main {
        height: 100%;

        .drag-handle {
            display: none !important;
        }

        .rdg-selected {
            border: none !important;
        }
    }

    .react-grid-Container {
        height: 100%;
    }

    .react-grid-Grid {
        min-height: 100% !important;
    }

    .react-grid-Canvas {
        height: 100% !important;
    }

    .react-grid-HeaderCell {
        @include dark-bg;
    }

    .react-grid-Cell {
        @include dark-bg;
    }
}
