@import "scss/colors";
@import "scss/media";

.auto-responses {
    height: 100%;
    flex-direction: column;
    display: flex;
    padding: 2.5rem !important;

    @include respond-below(lg) {
        padding: 1.5rem !important;
    }

    @include respond-below(sm) {
        .tools {
            padding-bottom: 0.3rem !important;
            .controls {
                display: inline-block;
                margin-bottom: 1rem;
            }
        }
    }

    @include respond-below(xs) {
        .tools {
            .controls {
                display: flex;
                flex-direction: column;
                span {
                    display: inline-block;
                    &:not(:last-child) {
                        margin-bottom: 0.6rem;
                    }
                }
            }
        }
    }

    .table-outer {
        @media (max-width: 1449.99px) and (min-width: 768px) {
            padding-top: 3.25rem;
        }
    }

    .response {
        @mixin highlight-span($light-color, $dark-color) {
            @include dark-fg($light-color);
            @include light-fg($dark-color);
            @include dark-bg(rgba($light-color, 0.075));
            @include light-bg(rgba($dark-color, 0.075));
            @include dark-border(rgba($light-color, 0.3));
            @include light-border(rgba($dark-color, 0.3));
            padding: 0.1em 0.35em 0.2em;
            border-radius: 4px;
        }

        .token-capture {
            @extend %token-0;
            &.source {
                @include highlight-span($token-0-dark, $token-0-light);
                margin: 0 0.15rem 0 0.15rem;
            }
        }

        .token-mention {
            @extend %token-1;
        }

        .token-meta {
            @extend %token-2;
        }

        .token-reaction {
            @extend %token-base;
            @include highlight-span($token-2-dark, $token-2-light);
        }

        .token-link {
            @extend %token-3;
        }

        .token-string {
            @extend %token-4;
        }

        .token-list {
            @extend %token-base;
            @include highlight-span($token-5-dark, $token-5-light);
        }
    }

    .emoji {
        width: 24px;
        height: auto;
        margin: 0 0.05em 0 0.1em;
        position: relative;
        top: -1px;
    }

    .mention {
        color: $discord;
        background-color: rgba($discord, 0.15);
    }

    .count {
        text-align: right;

        &.withSparkline {
            text-align: left;
            display: flex;
            justify-content: flex-end;

            .value {
                flex-grow: 0;
                display: inline-block;
            }

            .sparkline {
                margin-left: 0.5rem;
                flex-grow: 1;
                position: relative;

                span {
                    left: 0;
                    top: 0;
                    bottom: 0;
                    position: absolute;
                    @include light-bg($-primary);
                    @include dark-bg(rgba($-primary, 0.6), -5%);
                }

                @include respond-below(md) {
                    display: none;
                }
            }
        }

        .value {
            text-align: right;
        }
    }

    @media (max-height: 450px) {
        .hide-mobile-landscape {
            display: none;
        }
    }

    @include respond-below(sm) {
        .hide-mobile {
            display: none;
        }
    }

    .help-column-wrapper {
        display: inline;

        .help-tooltip {
            position: absolute;
            right: 4px;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;

            & > span {
                width: auto !important;
                height: auto !important;
            }
        }
    }
}
