@import "scss/colors";

.mentions-user + .reaction-list {
    .reaction {
        margin: {
            top: 0.65rem;
        }
    }
}

.reaction-list {
    display: flex;
    flex-direction: row;

    .reaction {
        margin: {
            top: 0.4rem;
            bottom: 0.5rem;
            right: 0.25rem;
        }
        padding: {
            bottom: 0.25rem;
            left: 0.5rem;
        }

        box-shadow: none;
        outline: none;
        border: none;
        border-radius: 4px;

        background-color: $discord-react;
        color: rgba($discord-fg, 0.75);

        & > span:first-child {
            .emoji {
                width: 18px;
                height: 18px;
            }
        }

        & > span:last-child {
            margin: {
                left: 0.375rem;
                right: 0.125rem;
            }
            position: relative;
            top: 1px;
        }

        &:hover, &:active {
            background-color: lighten($discord-react, 2%);
        }

        &.active {
            background-color: $discord-react-active;
            color: $discord;

            &:hover, &:active {
                background-color: lighten($discord-react-active, 2%);
            }
        }
    }
}
