@import '../../scss/colors';

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darken($-light, 5%);
    text-align: center;
    padding: {
        top: 1.5rem;
        bottom: 1.5rem;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}