@import "scss/colors";
@import "scss/media";

.footer {
    background-color: lighten($-dark, 3%);
    color: $-light;
    padding: 3.5rem 0;
    z-index: 1000;
    position: relative;
    width: 100%;

    .row {
        margin: 0 !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .footer--inner {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }

    @include respond-below(lg) {
        text-align: center;

        hr {
            margin-left: auto !important;
        }
    }

    .card {
        background-color: lighten($-dark, 7%);
        border-color: lighten($-dark, 12%);
        margin-top: 2rem;

        .brand {
            text-decoration: none !important;
            opacity: 0.75;
            margin: 0 !important;
            display: inline-block;
            line-height: initial;
        }

        display: inline-block;
    }

    a {
        color: inherit !important;
        font-weight: 400;
        position: relative;
        margin-bottom: 1rem;
        display: block;

        &:hover,
        &:active {
            text-decoration: underline;
        }

        .icon {
            margin-right: 0.85rem;
            position: relative;
            margin-left: -1.95rem;
        }
    }

    .footer--panel {
        & > div > *:last-child {
            margin-bottom: 0;
        }

        a {
            font-size: 1.1rem;
        }

        &.about {
            @include respond-above(lg) {
                padding-right: 2rem;
            }
        }

        p {
            color: rgba($-light, 0.75);
        }

        h3 {
            font-weight: 500;
            font-size: 1.2rem;
            color: rgba($-light, 0.75);
            text-transform: uppercase;
            margin-bottom: 0.5rem;
        }

        hr {
            width: 75px;
            border: none;
            border-top: 2px solid $-primary;
            margin: {
                bottom: 1rem;
                left: 0;
                top: 0.6rem;
            }
        }
    }
}
