@import "scss/colors";
@import "scss/theme";

.window {
    position: relative;
    padding-bottom: $window-padding-bottom;

    border-radius: $window-border-radius;

    .chrome {
        height: 37px;
        border-bottom: 1px solid rgba($-dark, 0.15);
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        padding: {
            left: 16px;
            right: 16px;
        }

        &--button {
            display: inline-block;
            border-radius: 50%;
            min-width: 12px;
            height: 12px;
            margin: 14px 8px 12px 0;
            background-color: rgba($-light, 0.4);
        }
    }

    &.window--discord {
        background-color: $discord-bg;

        .chrome {
            border-bottom: none !important;
            background-color: $discord-chrome-bg;
        }
    }

    &.window--light {
        box-shadow: $drop-shadow;

        $this: "chrome";
        .#{$this} {
            border-bottom: 1px solid rgba($-dark, 0.1) !important;

            &--button {
                &.#{$this}--close {
                    background-color: $osx-close;
                }

                &.#{$this}--minimize {
                    background-color: $osx-minimize;
                }

                &.#{$this}--fullscreen {
                    background-color: $osx-fullscreen;
                }
            }
        }
    }
}
