@import '../../scss/colors';

.user-display {
    display: inline-block;

    & > * {
        vertical-align: middle;
        display: inline-block;
    }

    .avatar {
        margin-right: 0.6rem;

        &.avatar-image {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: rgba($-light, 0.15);
            width: 40px;
            height: 40px;
            border-radius: 200rem;
            box-shadow: 0 0 4px rgba(black, 0.3);
        }
    }

    %name {
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        line-height: 1;
    }

    .username {
        @extend %name;
        margin-bottom: 0.4rem;
    }

    p.username {
        margin-bottom: 0.2rem;
    }

    .discriminator {
        @extend %name;
        margin-bottom: 0;
    }

    p.discriminator {
        opacity: 0.6;
    }
}
