@import "scss/colors";
@import "scss/theme";
@import "scss/util";
@import "dynamic/AppRoot/vars";

%icon-base {
    @extend %circle-icon-hover;
    box-shadow: $drop-shadow;
    cursor: pointer;
    position: relative;
    &:focus {
        outline: none;
    }
    &:active {
        opacity: 0.8;
    }

    .guild-icon__elevated {
        position: absolute;
        bottom: -4px;
        right: -6px;
        width: 32px;
        height: 32px;
        pointer-events: none;

        %icon {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            width: 1em !important;
            height: 1em !important;
        }

        .bg-icon {
            @extend %icon;
            z-index: 1;
            font-size: 1.6rem !important;
            @include dark-fg($guild-sidebar-dark-bg);
            @include light-fg($guild-sidebar-light-bg);
            top: -5px;
        }

        .fg-icon {
            @extend %icon;
            z-index: 2;
            font-size: 1.1rem !important;
            @include dark-fg($-primary);
            @include light-fg(color-adjust($-dark, 10%));
        }
    }
}

%symbol-icon-base-fg {
    @include dark-fg($-light, -10%);
    @include light-fg($-dark, 20%);
}

%symbol-icon-base {
    @extend %icon-base;
    @include transitions(
        "background-color, color, border-radius, opacity"
    );
    @include dark-bg($-dark, 7.5%);
    @include light-bg($-light);
    @extend %symbol-icon-base-fg;

    span {
        @extend %symbol-icon-base-fg;
        @include transitions("color");
    }

    &:hover {
        @extend %text-icon-hover;
    }
}

%text-icon-hover {
    &,
    span {
        color: white;
    }

    @include dark-bg($-primary);
    @include light-bg($-primary, -5%);
}

%circle-icon-hover {
    border-radius: 50%;
    transition: all 0.25s $ease;
    &:hover,
    &:focus {
        border-radius: 25%;
    }
}

.guild-icon {
    @extend %icon-base;
    user-select: none;

    img {
        @extend %circle-icon-hover;
        height: 100%;
        width: 100%;
    }
}

.guild-text-icon {
    position: relative;
    @extend %symbol-icon-base;

    div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        width: 100%;
        height: 100%;
        pointer-events: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        user-select: none;
        @extend %circle-icon-hover;
    }
}
