@import "scss/colors";
@import "scss/app";

.tooltip {
    z-index: 1090;

    &[x-placement^="top"] .arrow::before {
        border-top-color: $dark-000 !important;
    }

    &[x-placement^="bottom"] .arrow::before {
        border-bottom-color: $dark-000 !important;
    }

    &[x-placement^="left"] .arrow::before {
        border-left-color: $dark-000 !important;
    }

    &[x-placement^="right"] .arrow::before {
        border-right-color: $dark-000 !important;
    }

    &.show {
        opacity: 0.95 !important;
    }

    @include light {
        .arrow {
            opacity: 0.9;
        }
    }

    .tooltip-inner {
        padding: 0.1rem 0.35rem;
        max-width: none;
        background-color: $dark-000;

        @include light {
            background-color: rgba($dark-150, 1);
        }

        h6 {
            margin-bottom: 0.5rem;
        }
    }
}

.hide-tooltip {
    opacity: 0;
}
