@import "scss/colors";

// GuildList
$guild-list-hr-dark-fg: rgba($-light, 0.1);
$guild-list-hr-light-fg: rgba($dark-000, 0.15);

// GuildSidebar
$guild-sidebar-dark-bg: $dark-100;
$guild-sidebar-light-bg: $light-200;

%guild-sidebar {
    @include dark-bg($guild-sidebar-dark-bg);
    @include light-bg($guild-sidebar-light-bg);
}

// SideNavbar
$side-navbar-dark-bg: $dark-200;
$side-navbar-light-bg: $light-300 ;
$side-navbar-tab-border-radius: 8px;
$side-navbar-tab-hover-dark-bg: $dark-150;
$side-navbar-tab-hover-light-bg: $light-250;
$side-navbar-tab-active-hover-dark-bg: $dark-250;
$side-navbar-tab-active-hover-light-bg: $light-350;
$side-navbar-tab-svg-dark-fg: $-light;
$side-navbar-tab-svg-light-fg: $-dark;

%side-navbar {
    @include dark-bg($side-navbar-dark-bg);
    @include light-bg($side-navbar-light-bg);
}

// AppContent
$app-content-dark-bg: $dark-300;
$app-content-light-bg: $-light;
$app-content-dark-fg: $-light;
$app-content-light-fg: $-dark;

%app-content {
    @include light {
        color: $app-content-light-fg;
        background-color: $app-content-light-bg;
    }
    @include dark {
        color: $app-content-dark-fg;
        background-color: $app-content-dark-bg;
    }
}

// DataGrid
$data-grid-header-dark-bg: $dark-200;
$data-grid-header-light-bg: $light-300;
$data-grid-header-hover-dark-bg: $dark-250;
$data-grid-header-hover-light-bg: $light-250;
$data-grid-placeholder-dark-bg: $dark-200;
$data-grid-placeholder-light-bg: $light-500;

// Card
$card-dark-bg: $dark-400;
$card-light-bg: $light-500;

%card {
    @include dark-bg($card-dark-bg);
    @include light-bg($card-light-bg);
}
