@import "scss/colors";

// GuildList
$guild-list-hr-dark-fg: rgba($-light, 0.1);
$guild-list-hr-light-fg: rgba($dark-000, 0.15);

// GuildSidebar
$guild-sidebar-dark-bg: hsl(0, 0%, 10%);
$guild-sidebar-light-bg: hsl(200, 20%, 85%);

%guild-sidebar {
    @include dark-bg($guild-sidebar-dark-bg);
    @include light-bg($guild-sidebar-light-bg);
}

// AppContent
$app-content-dark-bg: hsl(0, 0%, 18%);
$app-content-light-bg: hsl(200, 20%, 97%);
$app-content-dark-fg: rgba(246, 248, 249, 0.85);
$app-content-light-fg: rgba(33, 33, 33, 0.85);

// SideNavbar
$side-navbar-dark-bg: hsl(0, 0%, 14%);
$side-navbar-light-bg: hsl(200, 20%, 93%);
$side-navbar-tab-border-radius: 8px;
$side-navbar-tab-hover-dark-bg: $side-navbar-dark-bg;
$side-navbar-tab-hover-light-bg: $side-navbar-light-bg;
$side-navbar-tab-active-hover-dark-bg: $app-content-dark-bg;
$side-navbar-tab-active-hover-light-bg: $app-content-light-bg;
$side-navbar-tab-active-hover-dark-fg: rgba($-light, 0.8);
$side-navbar-tab-active-hover-light-fg: rgba($-dark, 0.8);
$side-navbar-tab-svg-dark-fg: $-light;
$side-navbar-tab-svg-light-fg: $-dark;

%side-navbar {
    @include dark-bg($side-navbar-dark-bg);
    @include light-bg($side-navbar-light-bg);
}

%app-content {
    @include light {
        color: $app-content-light-fg;
        background-color: $app-content-light-bg;
    }
    @include dark {
        color: $app-content-dark-fg;
        background-color: $app-content-dark-bg;
    }
}

// DataGrid
$data-grid-header-dark-bg: $dark-200;
$data-grid-header-light-bg: $light-300;
$data-grid-header-hover-dark-bg: $dark-250;
$data-grid-header-hover-light-bg: $light-250;
$data-grid-placeholder-dark-bg: $dark-200;
$data-grid-placeholder-light-bg: $light-500;

// Card
$card-dark-bg: $dark-400;
$card-light-bg: $light-500;

%card {
    @include dark-bg($card-dark-bg);
    @include light-bg($card-light-bg);
}
