// B/W color ramp
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Theme colors
$porcelain: #f6f8f9 !default;
$linh-blue: #6496c4 !default;
$nevada: #626b73 !default;
$tundora: #453e3e !default;
$mine-shaft: #222020 !default;
$neptune: #73a3ba !default;
$equator: #e3c75b !default;
$aqua-forest: #5da161 !default;
$burnt-sienna: #e6584d !default;

// Default bootstrap colors
$blue: #03a9f4 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;

// Custom color scheme
$theme-colors: (
    primary: $linh-blue,
    secondary: $nevada,
    tertiary: $tundora,
    success: $aqua-forest,
    info: $neptune,
    warning: $equator,
    danger: $burnt-sienna,
    light: $porcelain,
    dark: $mine-shaft
) !default;

// Color aliases:
$-primary: map-get($theme-colors, primary);
$-secondary: map-get($theme-colors, secondary);
$-tertiary: map-get($theme-colors, tertiary);
$-success: map-get($theme-colors, success);
$-info: map-get($theme-colors, info);
$-warning: map-get($theme-colors, warning);
$-danger: map-get($theme-colors, danger);
$-light: map-get($theme-colors, light);
$-dark: map-get($theme-colors, dark);

// Additional colors
$discord: #7289da;
$discord-bg: #36393f;
$discord-input-bg: #484c52;
$discord-embed-bg: #2f3136;
$discord-chrome-bg: #202225;
$discord-fg: #dcddde;
$discord-input-border: #42454a;
$discord-message-border: #3e4147;
$discord-scroll-track: #2f3136;
$discord-scroll-thumb: #202225;
$discord-react: #3e4147;
$discord-react-active: #42485c;
$discord-mention: #faa61a;
$discord-link: #0096cf;
$discord-pre-bg: #2f3136;
$discord-pre-border: #2b2c31;
$osx-close: #ff5f56;
$osx-minimize: #ffbd2e;
$osx-fullscreen: #27c93f;
