@import "./colorfunctions";

// B/W color ramp
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Theme colors
$porcelain: #f6f8f9 !default;
$linh-blue: #6496c4 !default;
$olivine: #cba15b !default;
$tundora: #453e3e !default;
$mine-shaft: #202020 !default;
$neptune: #73a3ba !default;
$equator: #e3c75b !default;
$aqua-forest: #5da161 !default;
$burnt-sienna: #e6584d !default;

// Default bootstrap colors
$blue: #03a9f4 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;

// Custom color scheme
$theme-colors: (
    primary: $linh-blue,
    secondary: $olivine,
    tertiary: $tundora,
    success: $aqua-forest,
    info: $neptune,
    warning: $equator,
    danger: $burnt-sienna,
    light: $porcelain,
    dark: $mine-shaft
) !default;

// Color aliases:
$-primary: map-get($theme-colors, primary);
$-secondary: map-get($theme-colors, secondary);
$-tertiary: map-get($theme-colors, tertiary);
$-success: map-get($theme-colors, success);
$-info: map-get($theme-colors, info);
$-warning: map-get($theme-colors, warning);
$-danger: map-get($theme-colors, danger);
$-light: map-get($theme-colors, light);
$-dark: map-get($theme-colors, dark);

// App color ramps
$dark-000: color-adjust($-dark, -37%);
$dark-100: color-adjust($-dark, -11%);
$dark-200: color-adjust($-dark, 1.5%);
$dark-300: color-adjust($-dark, 6%);
$dark-400: color-adjust($-dark, 9%);
$dark-500: color-adjust($-dark, 13%);

$dark-050: blend($dark-000, $dark-100);
$dark-150: blend($dark-100, $dark-200);
$dark-250: blend($dark-200, $dark-300);
$dark-350: blend($dark-300, $dark-400);
$dark-450: blend($dark-400, $dark-500);

$dark-shades: (
    dark-000: $dark-000,
    dark-050: $dark-050,
    dark-100: $dark-100,
    dark-150: $dark-150,
    dark-200: $dark-200,
    dark-250: $dark-250,
    dark-300: $dark-300,
    dark-350: $dark-350,
    dark-400: $dark-400,
    dark-450: $dark-450,
    dark-500: $dark-500
);

$light-000: color-adjust($-light, -35%);
$light-100: color-adjust($-light, -25%);
$light-200: color-adjust($-light, -15%);
$light-300: color-adjust($-light, -5%);
$light-400: color-adjust($-light, 0%);
$light-500: white;

$light-050: blend($light-000, $light-100);
$light-150: blend($light-100, $light-200);
$light-250: blend($light-200, $light-300);
$light-350: blend($light-300, $light-400);
$light-450: blend($light-400, $light-500);

$light-shades: (
    light-000: $light-000,
    light-050: $light-050,
    light-100: $light-100,
    light-150: $light-150,
    light-200: $light-200,
    light-250: $light-250,
    light-300: $light-300,
    light-350: $light-350,
    light-400: $light-400,
    light-450: $light-450,
    light-500: $light-500
);

// Additional colors
$discord: #7289da;
$discord-bg: #36393f;
$discord-input-bg: #484c52;
$discord-embed-bg: #2f3136;
$discord-chrome-bg: #202225;
$discord-fg: #dcddde;
$discord-input-border: #42454a;
$discord-message-border: #3e4147;
$discord-scroll-track: #2f3136;
$discord-scroll-thumb: #202225;
$discord-react: #3e4147;
$discord-react-active: #42485c;
$discord-mention: #faa61a;
$discord-link: #0096cf;
$discord-pre-bg: #2f3136;
$discord-pre-border: #2b2c31;
$osx-close: #ff5f56;
$osx-minimize: #ffbd2e;
$osx-fullscreen: #27c93f;

// ? =======================
// ? Dark/light theme mixins
// ? =======================

@mixin dark-bg($color: $dark-300, $adjust: 0%) {
    @include theme-bg(dark, $color, $adjust);
}

@mixin light-bg($color: $light-400, $adjust: 0%) {
    @include theme-bg(light, $color, $adjust);
}

@mixin dark-fg($color: $-light, $adjust: 0%) {
    @include theme-fg(dark, $color, $adjust);
}

@mixin light-fg($color: $-dark, $adjust: 0%) {
    @include theme-fg(light, $color, $adjust);
}

@mixin dark-fade-fg($color: rgba($-light, 0.7), $adjust: 0%) {
    @include theme-fg(dark, $color, $adjust);
}

@mixin light-fade-fg($color: rgba($-dark, 0.7), $adjust: 0%) {
    @include theme-fg(light, $color, $adjust);
}

@mixin dark-border($color, $adjust: 0%, $border: 1px solid, $side: null) {
    @include theme-border(dark, $color, $adjust, $border, $side);
}

@mixin light-border($color, $adjust: 0%, $border: 1px solid, $side: null) {
    @include theme-border(light, $color, $adjust, $border, $side);
}
