@import './renner';

// Font definitions
$font-family-sans-serif: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;

// Font sizes
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-xs: 0.75rem !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

// Headings
$h1-font-size: 2.5rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

// $headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: "Renner*", $font-family-sans-serif !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-letter-spacing: 0.025rem !default;
$headings-margin-bottom: 1.5rem !default;
$headings-color: inherit !default;

$display1-size: 8rem !default;
$display2-size: 7rem !default;
$display3-size: 5.5rem !default;
$display4-size: 4.5rem !default;
