@mixin highlight-shadow($color, $opacity: 0.2, $important: false) {
    @if $important {
        box-shadow: 0 0 0 0.2rem rgba($color, $opacity) !important;
    } @else {
        box-shadow: 0 0 0 0.2rem rgba($color, $opacity);
    }
}

@mixin highlight-active-shadow($color, $opacity: 0.2, $important: false) {
    @if $important {
        box-shadow: 0 0 0 0.2rem rgba($color, $opacity),
            inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    } @else {
        box-shadow: 0 0 0 0.2rem rgba($color, $opacity),
            inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
}

@mixin transitions($properties) {
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-property: unquote($properties);
}

%hide-scrollbar {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }
}

%button-blank {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    border: none;
    &:focus {
        outline: 0;
    }
}
