on:
  push:
    paths:
      - 'app/**'
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'app/**'

# Workflow to run continuous integration builds for each commit/PR,
# and then upload the artifacts to our staging server
name: app-staging
env:
  BASE_STAGING_URL: https://staging.archit.us
  ARCHIVE_NAME: dist.tar.gz
  WORKING_DIR: ./app
defaults:
  run:
    working-directory: ./app

jobs:
  build:
    name: Build
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Store build time
        id: build-time
        shell: bash
        run: >-
          echo "::set-output name=time::$(date --iso-8601=seconds)"

      - name: Add pre comment to PR
        # Run even on push so we can access outputs for build markers
        id: staging-comment
        uses: architus/staging-comment-action@master
        with:
          mode: pre
          job-name: Build
          tag: app
          build-time: ${{ steps.build-time.outputs.time }}
          base-staging-url: ${{ env.BASE_STAGING_URL }}
          GITHUB_TOKEN: ${{ secrets.ARCHITUS_BOT_TOKEN }}

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Load Yarn cache
        uses: actions/cache@v1
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles(join(env.WORKING_DIR, '/**/yarn.lock')) }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Resolve staging URL
        id: resolve-staging
        shell: bash
        run: >-
          if [[ "$GITHUB_EVENT_NAME" == "pull_request" ]]; then
              ref=$(echo $GITHUB_REF | awk 'BEGIN { FS = "/" } ; { print $3 }');
              event="pr";
          else
              ref=$(echo $GITHUB_SHA | cut -c1-7);
              event="commit";
          fi;
          echo "::set-output name=path::${event}/${ref}";

      - name: Build website
        id: build
        shell: bash
        env:
          SITE_ROOT: ${{ env.BASE_STAGING_URL }}
          BASE_PATH: ${{ steps.resolve-staging.outputs.path }}
          BUILD_LOCATION: remote
          NODE_ENV: production
          APP_NAME: Architus Staging
          BUILD_PATH: ${{ steps.resolve-staging.outputs.path }}
          # Inject the following environment variables from the output of the
          # staging comments action
          BUILD_RUN_ID: ${{ steps.staging-comment.outputs.runId }}
          BUILD_JOB_ID: ${{ steps.staging-comment.outputs.jobId }}
          BUILD_DEPLOY_URL: ${{ steps.staging-comment.outputs.deployUrl }}
          BUILD_BRANCH: ${{ steps.staging-comment.outputs.branch }}
          BUILD_SHA: ${{ steps.staging-comment.outputs.sha }}
          BUILD_COMMIT_URL: ${{ steps.staging-comment.outputs.commitUrl }}
          BUILD_PR_ID: ${{ steps.staging-comment.outputs.prId }}
          BUILD_BASE_BRANCH: ${{ steps.staging-comment.outputs.baseBranch }}
        # Build the website from a bash script, tracking the build duration
        # and re-raising the resultant exit code from the build command
        # TODO: it seems like react-static build doesn't return non-zero exit
        #       codes, even for failed builds
        run: >-
          T="$(date +%s)";

          yarn build --no-type-check;
          exit_code=$?;

          T="$(($(date +%s)-T))";
          echo "::set-output name=duration::${T}";
          echo "Build finished in $T seconds with exit code $exit_code";
          exit $exit_code;

      - name: Create archive
        run: tar -czvf ../${{ env.ARCHIVE_NAME }} .
        working-directory: ${{ env.WORKING_DIR }}/dist

      - name: Upload built archive to staging API
        uses: architus/upload-api-action@master
        with:
          archive-path: ${{ env.WORKING_DIR }}/${{ env.ARCHIVE_NAME }}
          api-root: ${{ env.BASE_STAGING_URL }}/api
          token: ${{ secrets.STAGING_UPLOAD_API_TOKEN }}

      - name: Add post comment to PR
        uses: architus/staging-comment-action@master
        if: github.event_name == 'pull_request' && success()
        with:
          mode: post
          job-name: Build
          build-time: ${{ steps.build-time.outputs.time }}
          build-duration: ${{ steps.build.outputs.duration }}
          base-staging-url: ${{ env.BASE_STAGING_URL }}
          GITHUB_TOKEN: ${{ secrets.ARCHITUS_BOT_TOKEN }}

      - name: Add failure comment to PR
        uses: architus/staging-comment-action@master
        if: github.event_name == 'pull_request' && failure()
        with:
          mode: failure
          job-name: Build
          build-time: ${{ steps.build-time.outputs.time }}
          base-staging-url: ${{ env.BASE_STAGING_URL }}
          GITHUB_TOKEN: ${{ secrets.ARCHITUS_BOT_TOKEN }}
