@import "scss/colors";
@import "scss/theme";

.discord-view {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    padding: {
        bottom: $window-padding - $window-padding-bottom;
        left: $window-padding;
    }
    color: $discord-fg;
    margin-right: 8px;

    & > * {
        flex-grow: 0;
    }

    .input-border {
        margin: 0;
        border-bottom: 1px solid $discord-input-border;
        border-top: none;
        margin-right: 32px;
    }

    .error-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        z-index: 80;
        background-color: rgba(black, 0.5);
        transition: opacity linear 0.2s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        border-radius: $window-border-radius;
        pointer-events: none;

        &.show-error {
            transition: opacity linear 1s;
            opacity: 1;
            pointer-events: all;
        }

        .error-inner {
            max-width: 70%;
            margin-bottom: 1rem;

            .error-image {
                display: block;
                height: 80px;
                width: 100%;
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg enable-background='new 0 0 39 39' version='1.1' viewBox='0 0 39 39' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.15;%7D .st1%7Bfill:%23E6584D;%7D .st2%7Bopacity:0.85;%7D%0A%3C/style%3E%3Cpolygon class='st1 st0' points='39 4.9 34.1 0 19.5 14.6 4.9 0 0 4.9 14.6 19.5 0 34.1 4.9 39 19.5 24.4 34.1 39 39 34.1 24.4 19.5'/%3E%3Cpath class='st1 st2' d='m34.1 0.9l4 4-14.2 14.2-0.4 0.4 0.4 0.4 14.2 14.2-4 4-14.2-14.2-0.4-0.4-0.4 0.4-14.2 14.2-4-4 14.2-14.2 0.4-0.4-0.4-0.4-14.2-14.2 4-4 14.2 14.2 0.4 0.4 0.4-0.4 14.2-14.2m0-0.9l-14.6 14.6-14.6-14.6-4.9 4.9 14.6 14.6-14.6 14.6 4.9 4.9 14.6-14.6 14.6 14.6 4.9-4.9-14.6-14.6 14.6-14.6-4.9-4.9z'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                margin-bottom: 2rem;
            }

            h4 {
                font-size: 2.5rem;
                text-transform: none;
                font-weight: 300;
                opacity: 1;
                color: rgba($discord-fg, 0.55);
            }

            p {
                font-size: 1rem;
            }
        }
    }
}
